.header__logo {
  width: 25%;
}

.header__dropdownButton {
  margin-top: 5px;
  color: black !important;
}

.header__container {
  border-bottom: 5px solid #d1b788;
  border-radius: 0px 0px 20px 20px;
  background-color: rgb(245, 222, 179);
  padding: 12px !important;
  font-weight: bold;
}
