.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.product-info {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-weight: bold;
}

.product-delivery {
  font-size: 90%;
  margin: 0;
}

.product-local {
  font-size: 70%;
  font-style: italic;
  margin: 0;
}

.product-button {
  flex-shrink: 0;
}
